*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    margin:auto;
    font-family: Lato,sans-serif;
    background-color: #fff;
}
:root{
    --dark: #12141D;
    --prime:#043A53;
    --grey:#F2F5F6;
    --white:#fff;
    --secon:#92A7B0;
    --greysecon:#C9D3D8;
    --yellow:#F0B73F;
    --darkgrey:#404040;
    --fw8:800;
    --fw7:700;
    --fw4:400;
}
a{
    text-decoration: none;
}
/* heaer section */

header {
    background-color: var(--grey);
    padding: 0px 20px;
}

header .container {
    display: flex;
    min-height: 98px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header nav.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav.nav-links li {
    margin-left: 40px;
}

header nav.nav-links a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

header nav.nav-links a:hover {
    color: var(--prime);
}

header .auth a {
    text-decoration: none;
    padding: 17px 20px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header .auth .login {
    background-color: var(--white);
    padding:17px 28px;
    color: var(--dark);
    border-radius: 42px;
    font-size: 1rem;
}

header .auth .signup {
    background-color: var(--prime);
    color: white;
    border-radius: 42px;
    font-size: 1rem;
}

header .auth .login:hover {
    background-color: #e2e6ea;
}

header .auth .signup:hover {
    background-color: #003a75;
}

header .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header .hamburger .line {
    width: 24px;
    height: 2px;
    background-color: #000000;
    margin: 4.5px 0;
}

/* Hide the checkbox */
.menu-toggle {
    display: none;
}

/* Responsive Styles */
@media (min-width:769px) and (max-width: 1200px) {
header .auth a, header .auth .login{
    padding:10px 20px;
}
header nav.nav-links li{
    margin-left: 20px;
}
}
@media (max-width: 820px) {
    header nav.nav-links {
        display: none;
        position: absolute;
        top: 98px;
        left: 0px;
        width: 100%; 
        background-color: #e9ecef;
        text-align: center;
        z-index: 10;
        overflow: hidden;
        min-height: 100vh;
        max-height: 0; 
        transition: max-height 1s ease-in-out; 
    }

    header nav.nav-links ul {
        flex-direction: column;
        padding: 0; 
    }

    header nav.nav-links li {
        margin: 0; 
        padding: 15px 0;
        border-bottom: 1px solid #dee2e6; 
    }

    header nav.nav-links li:last-child {
        border-bottom: none;
    }

    header .hamburger {
        display: flex;
    }

    header .auth  {
        display: none;
    }

    #menu-toggle:checked + .hamburger + .nav-links {
        display: block; 
        max-height: 500px; 
    }

    #menu-toggle:checked + .hamburger {
        /* Animate hamburger to X */
        header .hamburger .line:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }

        header .hamburger .line:nth-child(2) {
            opacity: 0;
        }

        header .hamburger .line:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        }
    }
}

/* hero section */

.hero-container{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 100px 120px;
    background-color: var(--grey);
}
#hero h1{
    font-size: 4rem;
    color: var(--dark);
    text-align: center;
    margin-bottom: 16px;
}
#hero h1 span{
    color:var(--prime);
}
#hero p{
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}
.buttons{
    display: flex;
    gap:32px;
    justify-content: center;
    align-items: center;
}
.buttons .btn-primary {
    background-color: var(--prime);
    color: white;
    border-radius: 42px;
    font-size: 1rem;
    padding:20px;
    color:var(--white);
    font-weight: var(--fw7);
    font-size: 18px;
    border-radius: 55px;
    box-shadow: 0px 23px 47px 0px #043A533D;
}
.buttons .btn-secondary{
    color: var(--prime);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    padding:16px 24px;
    gap:16px;
    align-items: center;
}
.social-proof-mob{
    display: none;
}
@media (min-width:821px) and (max-width:1200px){
    .hero-container{
     padding: 40px 20px;
    }
    #hero h1{
        font-size: 36px;
    }
    #hero p{
        font-size: 14px;
    }
}
@media  (max-width: 820px) {
    .hero-container, .buttons{
        flex-direction: column;
    }
    .hero-container{
        padding: 40px 21px;
    }
    .social-item{
        display: none;
    }
    .social-proof-mob{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:60px;
    }
    .social-items{
        display: flex;
    }
    #hero h1{
        font-size: 36px;
    }
    #hero p{
        font-size: 14px;
    }
}

/* Trusted Brand Section */
.clients-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.client-logos-wrap{
    display: flex;
    gap:64px;
    justify-content: space-between;
    align-items: center;
}
.client-logos1, .client-logos2{
    display: flex;
    gap:64px;
}
.clients-container p{
    font-size: 16px;
    color:#000000;
    font-weight: 500;
}
.clients-container h3{
    font-size: 1.5rem;
    color:#787878;
}
@media (min-width:821px) and (max-width:1200px){
    .clients-container{
        padding:40px;
    }
    .client-logos-wrap, .client-logos1, .client-logos2{
        gap:44px;
    }
}
@media (max-width:820px){
    .clients-container{
        padding: 50px 20px;
    }
    .clients-container,.client-logos-wrap{
        flex-direction: column;
    }
    .client-logos-wrap{
        gap:0;
    }
    .client-logos1{
        gap:24px;
        margin-bottom: 20px;
    }
    .client-logos2{
        gap:44px;
    }
    .clients-container p{
        margin-bottom: 20px;
    }
}

/* Video Section */
.video-container{
    background-color: var(--prime);
    padding: 100px 150px 0 150px;
}
.team-content{
    display: flex;
    gap:120px;
    justify-content: space-between;
}
.team-content h1{
    font-size: 55px;
    color: #FFF;
    font-weight: var(--fw7);
    min-width: 590px;
}
.team-content h1 span{
    color: var(--yellow);
    font-size: 50px;
}
.team-content p{
    font-size: 20px;
    line-height: 30px;
    font-weight: var(--fw4);
    color: var(--white);
}
.team-image{
    padding-top: 64px;
    display: flex;
}
.team-image-mob{
    display: none;
}
@media (max-width:820px){
    .video-container{
        padding: 50px 20px 0 20px;
    }
    .team-content{
        flex-direction: column;
        gap:16px;
    }
    .team-content h1{
        font-size: 30px;
        min-width: 200px;
    }
    .team-content h1 span{
        font-size: 30px;
    }
    .team-content p{
        font-size: 14px;
    }
    .team-image-mob{
        display: flex;
        justify-content: center;
        padding: 32px 0 0 8px;
    }
    .team-image{
        display: none;
    }
}
@media (min-width:821px) and (max-width:1439px){
    .video-container{
        padding: 50px 20px 0 20px;
    }
    .team-content{
        gap:20px;
    } 
    .team-image{
        display: flex;
        justify-content: center;
    }
    .team-image img{
        max-width: 700px;
    }   
}

/* Benefits Section */
.features{
    padding: 100px 150px;
}
.features button{
    background-color: var(--prime);
    color: var(--white);
    font-size: 18px;
    font-weight: var(--fw4);
    padding: 6px 24px 3px 24px;
    border-radius: 100px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-content h1{
    font-size: 4rem;
    color: var(--dark);
    margin: 32px 0;
}
.feature-content p{
    font-size: 18px;
    color: var(--dark);
    font-weight: var(--fw4);
}
.feature-wrap{
    display: flex;
    gap:64px;
}
.feature-card-wrap{
    display: flex;
    gap:16px;
}
.feature{
    background-color: var(--grey);
    padding: 32px 24px;
    border-radius: 16px;
    min-width: 265px;
    height: fit-content;
}
.feature h3{
    font-size: 1.5rem;
    color:var(--dark);
    font-weight: var(--fw7);
    margin: 32px 0 10px 0;
}
.feature p{
    font-size: 18px;
    font-weight: var(--fw4);
    color:var(--darkgrey);
}
@media (max-width:820px){
    .features{
        padding: 50px 20px;
    }
    .features button{
        padding: 4px 16px;
    }
    .feature-wrap{
        gap:32px;
    }
    .feature-wrap, .feature-card-wrap{
        flex-direction: column;
    }
    .feature-content h1{
        font-size: 30px;
        margin:16px 0;
    }
    .feature-content p, .features button, .feature p{
        font-size: 14px;
    }
    .feature h3{
        font-size: 20px;
    }
}
@media (min-width:821px) and (max-width:1200px){
    .features{
        padding: 50px 20px;
    }
    .feature-content h1{
        font-size: 1.5rem;
        margin: 16px 0;
    }
    .feature-content p, .feature p{
        font-size: 14px;
    }
    .feature-wrap{
        gap:32px;
    }
    .feature h3{
        font-size: 20px;
    }
}

/* Numbers Section */
.beneficial-elements{
    padding:100px 150px;
}
.stats-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:64px;
    text-align: center;
}
.stats-wrap .stats{
    display: flex;
    gap:64px;
}
.stats h3{
    font-size: 4rem;
    color:var(--prime);
    font-weight: var(--fw7);
    min-width: 237px;
}
.stats p{
    font-size: 1.5rem;
    color:var(--darkgrey);
    font-weight: var(--fw7);
}

@media (max-width:820px){
    .beneficial-elements{
        padding: 50px 20px;
    }
    .stats h3{
        font-size: 36px;
        min-width: 158px;
    }
    .stats p{
        font-size: 16px;
    }
    .stats-wrap{
        flex-direction: column;
    }
}
@media (min-width:821px) and (max-width:1200px){
    .beneficial-elements{
        padding: 50px 20px;
    }
    .stats-wrap .stats{
        gap:24px;
    }
    .stats-wrap{
        gap:24px;
    }
    .stats h3{
        font-size: 40px;
    }
    .stats p{
        font-size: 20px;
    }
}

/* Founder Section */
.founder{
    padding: 50px 0px 50px 150px;
}
.founder-content{
    display: flex;
    align-items: center;
    gap:64px;
}
.founder-content h1{
    font-size: 55px;
    color:var(--dark);
    font-weight: var(--fw7);
    min-width: 500px;
}
.founder-text h3{
    font-size: 1.5rem;
    color: var(--dark);
    font-weight: var(--fw4);
    margin: 32px 0;
}
.founder-text p{
    font-size: 20px;
    color: var(--dark);
    font-weight: var(--fw7);
}
.founder span{
    font-size: 16px;
    color: var(--darkgrey);
    font-weight: var(--fw4);
}
.founder .btn{
    background-color: var(--prime);
    color:var(--white);
    font-size: 18px;
    font-weight: var(--fw7);
    padding: 16px 16px 16px 24px;
    border-radius: 55px;
    display: flex;
    gap:24px;
    align-items: center;
    max-width: 360px;
    margin-top: 64px;
}
.founder-image-mob{
    display: none;
}
@media (max-width:820px){
    .founder{
        padding: 50px 20px;
    }
    .founder-content{
        flex-direction: column;
        gap:32px;
    }
    .founder-content h1{
        font-size: 30px;
        min-width: 200px;
    }
    .founder-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .founder-text h3{
        margin: 16px 0;
    }
    .founder-text h3, .founder-text p{
        font-size: 16px;
    }
    .founder-text span{
        font-size: 12px;
    }
    .founder-image{
        display: none;
    }
    .founder-image-mob{
        display: flex;
        margin-bottom: -50px;
    }
    .founder-image-mob img{
        object-fit: cover;
    }
    .founder .btn{
        font-size: 16px;
        padding: 12px 12px 12px 18px;
        margin-top: 32px;
    }
}
@media (min-width:821px) and (max-width:1200px){
    .founder{
    padding: 50px;
    }
    .founder-content{
        gap:20px;
    }
    .founder-image img{
        max-width: 500px;
    }
    .founder-content h1{
        font-size: 36px;
        min-width: 200px;
    }
    .founder-text h3{
        margin: 16px 0;
    }
    .founder-text h3, .founder-text p{
        font-size: 16px;
    }
    .founder-text span{
        font-size: 12px;
    }
}

/* Bridge Section */
.company-message{
    display: flex;
    gap:60px;
}
.message-image img{
    max-width: 700px;
}
.message-content{
    padding: 133px 150px 133px 0;
}
.message-content h1, .testimonials h1, .blog h1{
    font-size: 3.75rem;
    color: var(--dark);
    font-weight: var(--fw7);
    line-height: 72px;
}
.message-content h1 span{
    color: var(--secon);
    margin-left: 10px;
}
.message-content p{
    color: var(--dark);
    font-size: 1.25rem;
    font-weight: var(--fw4);
    margin: 32px 0;
}
.message-content .btn{
    background-color: var(--prime);
    color:var(--white);
    font-size: 18px;
    font-weight: var(--fw7);
    padding: 16px 16px 16px 24px;
    border-radius: 55px;
    display: flex;
    max-width: 210px;
    gap:24px;
    align-items: center;  
}
.message-image-mob{
    display: none;
}
@media screen and (max-width:820px) {
    .company-message 
    {
        flex-direction: column;
        gap:0;
        align-items: center;
    }
    .message-content{
        padding: 0 20px 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .message-content h1, .testimonials h1, .blog h1{
        font-size: 30px;
        line-height: 38px;
        text-align: center;
    }
    .message-content p{
        font-size: 1rem;
        text-align: center;
        margin: 16px 0;
    }
    .message-image{
        display: none;
    }
    .message-image-mob{
        display: flex;
    }
}
@media (min-width:821px) and (max-width:1200px) {
    .company-message{
        gap:20px;
    }
    .message-image img{
        max-width: 500px;
    }       
    .message-content{
        padding: 50px;
    }
    .message-content h1{
        font-size: 40px;
        line-height: 45px;
    }
}

/* Testimonials Section */
.testimonials {
    padding: 100px 150px;
    background-color: var(--grey);
    margin-top: -38px;
}
.testimonial-head, .blog-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial-head .view-all, .view-all-mob, .blog-head .view-all{
    font-size: 18px;
    color: var(--dark);
    font-weight: var(--fw7);
    display: flex;
    align-items: center;
    gap:10px;
}
.testimonial-wrap{
    display: flex;
    gap:32px;
    margin: 64px 0;
}
.testimonial{
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 1px 2px 0px #00000014;
    max-width: 550px;
}
.testimonial h3{
    color: var(--dark);
    font-weight: var(--fw4);
    font-size: 1.5rem;
    margin: 10px 0 24px 0;
}
.testimonial h4{
    color: #000000;
    font-size: 1rem;
    font-weight: var(--fw7);
    margin-bottom: 5px;
}
.testimonial p{
    font-size: 1rem;
    color:var(--darkgrey);
    font-weight: var(--fw4);

}
.user-details{
    display: flex;
    align-items: center;
    gap:12px;
}
.carousal-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousal-img-mob, .view-all-mob{
    display: none;
}

@media screen and (max-width:576px){
    .testimonials{
        padding: 50px 20px;
        margin-top: 0;
    }
    .testimonial-head .view-all, .blog-head .view-all{
        display: none;
    }
    .carousal-img{
        display: none;
    }
    .carousal-img-mob{
        display: flex;
        margin: 32px 0;
        justify-content: center;
    }
    .view-all-mob{
        display: flex;
        justify-content: center;
    }
    .testimonial-wrap{
        margin: 32px 0;
        justify-content: center;
    }
    .testimonial-head{
        justify-content: center;
    }
    .testimonial{
        min-width: 275px;
        justify-content: center;
    }
    .testimonial:nth-child(2){
        display: none;
    }
    .testimonial h3{
        font-size: 16px;
    }
    .testimonial h4{
        font-size: 14px;
    }
    .testimonial p{
        font-size: 12px;
    }
}
@media  screen and (min-width:577px) and (max-width:820px){
    .testimonials{
        padding: 50px;
        margin-top: 0;
    }
}
@media  screen and (min-width:821px) and (max-width:1200px){
    .testimonials{
        padding: 50px;
        margin-top: 0;
    }
    .testimonials h1{
        font-size: 44px;
    }
}

/* Blog Section */
.blog{
    padding: 100px 150px;
}
.blog-head{
    margin-bottom: 64px;
}
.blog-head h1 span{
    color: var(--prime);
}
.news-items{
    display: flex;
    gap:32px;
}
.news-item{
    border: 1px solid #F2F5F6;
    box-shadow: 0px 1px 2px 0px #00000014;
    background-color: #FFFFFF;
    border-radius: 8px;
}
.news-content{
    padding: 24px;
}
.news-content .date{
    font-size: 16px;
    color: #000000;
    font-weight: var(--fw7);
    margin-bottom: 16px;
}
.news-content .date span{
    color: var(--darkgrey);
    font-weight: var(--fw4);
}
.news-content h3{
    font-size: 24px;
    color: #000000;
    font-weight: var(--fw7);
    line-height: 32px;
    margin-bottom: 8px;
}
.news-content .content{
    font-size: 18px;
    line-height: 28px;
    font-weight: var(--fw4);
    color: var(--darkgrey);
    margin-bottom: 16px;
}
.news-content .read-story{
    font-size: 18px;
    color: var(--dark);
    font-weight: var(--fw7);
    display: flex;
    gap:16px;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .blog{
        padding: 50px 18px;
    }
    .news-items{
        max-width: 290px;
    }
    .news-item2, .news-item3{
        display: none;
    }
    .news-item{
        margin-bottom: 24px;
    }
    .news-content date{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .news-content h3{
        font-size: 18px;
        line-height: 28px;
    }
    .news-content .content{
        font-size: 14px;
        line-height: 20px;
    }
    .news-content .read-story{
        font-size: 14px;
    }
}
@media screen and (min-width:768px) and (max-width: 1200px) {
    .blog{
        padding: 20px;
    }
    .news-items{
        gap:8px;
    }
    .news-item2{
        display: block;
    }
}
