*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    max-width: 1440px;
    margin:auto;
}
::root{
    --dark: #12141D;
    --prime:#043A53;
    --grey:#F2F5F6;
    --white:#fff;
    --secon:#92A7B0;
    --greysecon:#C9D3D8;
}